.wrapper {
  width: 100%;
  display: flex;
  background-color: var(--layout-bg);
}

.container {
  margin-left: 240px;
  position: relative;
  color: #fff;
  flex: 1;
}

.content {
  margin-top: 70px;
}
