.wrapper {
  background-color: var(--primary-bg);
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  width: 100%;
  min-width: 240px;
  z-index: 101;
  top: 60px;
  right: -100%;
  color: var(--text-primary);
}

.wrapper.menu {
  position: absolute;
}

.wrapper.search {
  box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
  padding: 13px 10px;
  border-radius: 0 0 20px 20px;
}
